<h2><%= @round.deck.title %></h2>

<p>You have completed a round of <%= @round.deck.title %>. You answered <%= @round.first_guesses %> / <%= @round.deck.cards.length %> cards correctly on the first try. You submitted <%= @round.total_guesses %> guesses before each card was anwered correctly.</p>
