<h2>Hello, <%= current_user.name.capitalize %></h2>

<% @user.rounds.each do |round| %>
  <h3><%= round.deck.title %></h3>
  <table>
    <tr>
      <th>Date</th>
      <th>Cards in Deck</th>
      <th>First Guess Correct</th>
      <th>Total Guesses</th>
    </tr>

    <tr>
      <th><%= round.created_at.strftime("%B %d %Y") %></th>
      <th><%= round.deck.cards.count %></th>
      <th><%= round.first_guesses %></th>
      <th><%= round.total_guesses %></th>
    </tr>
  </table>
<% end %>

